nav.main-nav {
  background-color:#444;
  padding: 20px 20px 20px 0px;
  width: 100%;
}

nav.main-nav a.cta {
	background: #fff;
	color: #000;
	border: 1px solid #fcdae9;
}

nav.main-nav a.cta:hover {
	background: #ee4792;
	color: #fcdae9;
}

nav.main-nav a, #footer a, #post-nav a{
   box-shadow: inset 0 -2px 0 #ee4792;
}

nav.main-nav a:hover, #footer a:hover, #post-nav a:hover {
	box-shadow: inset 0 -25px 0 #ee4792;
}

nav.main-nav a, #footer a, #post-nav a {
  color: #eee;
}

body {
  color:#efefef;
  background-color:#666;
}

#wrapper {
  width: 900px;
  max-width: 900px
  margin: 0 auto;
  padding: 25px;
}

section {
  width: 900px;
}

h1, h2, h3 {
  color: #efefef;
}

a {
  color:#efefef;
  box-shadow: inset 0 -2px 0 #ee4792;
}

p a {
  color:#efefef;
  box-shadow: inset 0 -2px 0 #ee4792;
}

p a:hover {
  color:#efefef;
  box-shadow: inset 0 -25px 0 #ee4792;
}

.post-body li a {
  color:#efefef;
  box-shadow: inset 0 -2px 0 #ee4792;
}

.post-body li a:hover {
  color:#efefef;
  box-shadow: inset 0 -25px 0 #ee4792;
}

img {
   box-shadow: none;
}

img:hover {
  box-shadow: none;
}

a img {
   box-shadow: none;
}

a img:hover {
  box-shadow: none;
}

p a img {
   box-shadow: none;
}

p a img:hover {
  box-shadow: none;
}

nav.main-nav a, #footer a, #post-nav a {
  box-shadow: inset 0 -2px 0 #ee4792;
}

nav.main-nav a:hover, #footer a:hover, #post-nav a:hover {
  box-shadow: inset 0 -25px 0 #ee4792;
  color:#efefef;
}

span.separator {
  display:block;
  margin:60px auto 60px;
  width: 65%
}

